.hui-base-popover-button{
    border: 1px solid var(--border-color);
    padding: var(--button-padding);
    font-size: 1rem;
    cursor: pointer;
}

.hui-primary-popover-button {
    composes: hui-base-popover-button;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
}

.hui-secondary-popover-button {
    composes: hui-base-popover-button;
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
}

.hui-tertiary-popover-button {
    composes: hui-base-popover-button;
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
}

.hui-outline-popover-button {
    composes: hui-base-popover-button;
    background-color: transparent;
    color: var(--foreground-primary);
}


.hui-base-popover-panel{
    border: 1px solid var(--border-color);
    padding: var(--button-padding);
    font-size: 1rem;
    cursor: pointer;
}

.hui-primary-popover-panel{
    composes: hui-base-popover-panel;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
}

.hui-secondary-popover-panel{
    composes: hui-base-popover-panel;
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
}

.hui-tertiary-popover-panel{
    composes: hui-base-popover-panel;
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
}

.hui-outline-popover-panel{
    composes: hui-base-popover-panel;
    background-color: transparent;
    color: var(--foreground-primary);
}