.hui-base-stepper-container {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--hover);
  border-radius: 5px;
  overflow: hidden;
}

.hui-base-stepper-fill {
  height: 100%;
  background-color: var(--base-foreground);
  transition: width 0.3s ease;
}

.hui-head {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: var(--highlight);
  transform: translateX(-50%);
    left: 100%;
}


.hui-primary-stepper-container {
  composes: hui-base-stepper-container;
}

.hui-primary-stepper-fill {
  composes: hui-base-stepper-container;
    background-color: var(--background-primary);
}


.hui-secondary-stepper-container {
  composes: hui-base-stepper-container;
}

.hui-secondary-stepper-fill {
  composes: hui-base-stepper-container;
  background-color: var(--background-secondary);
}


.hui-tertiary-stepper-container {
  composes: hui-base-stepper-container;
}

.hui-tertiary-stepper-fill {
  composes: hui-base-stepper-container;
  background-color: var(--background-tertiary);
}


.hui-outline-stepper-container {
  composes: hui-base-stepper-container;
}

.hui-outline-stepper-fill {
  composes: hui-base-stepper-container;
}



