.hui-primary-tabs {
    display: flex;
    border-bottom: 2px solid var(--foreground-primary); /* Bright blue border */
}

.hui-primary-tab {
    padding: var(--button-padding);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.hui-primary-tab:hover {
    background-color: var(--foreground-tertiary); /* Bold sky blue on hover */
}
