.hui-base-switch {
  border: 2px solid var(--border-color);
  border-radius: 2px;
  padding: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 3.5rem;
  height: 1.75rem;
  background-color: var(--background-secondary);
}

.hui-primary-switch {
    composes:hui-base-switch;
  background-color: var(--background-primary);
  border-color: var(--border-color);
}

.hui-secondary-switch {
        composes:hui-base-switch;

  background-color: var(--background-secondary);
  border-color: var(--border-color);
}

.hui-tertiary-switch {
        composes:hui-base-switch;

  background-color: var(--background-tertiary);
  border-color: var(--border-color);
}

.hui-outline-switch {
        composes:hui-base-switch;

  background-color: transparent;
  border: 2px solid var(--border-color);
  color: var(--foreground-primary);
}

.hui-primary-switch:hover {
  background-color: var(--hover);
}

.hui-secondary-switch:hover {
  background-color: var(--hover);
}

.hui-tertiary-switch:hover {
  background-color: var(--hover);
}

.hui-outline-switch:hover {
    background-color: var(--hover);
}

.hui-switch-handle {
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--foreground-primary);
  border-radius: 9999px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.group-data-checked .hui-switch-handle {
  transform: translateX(1.75rem);
}