.hui-base-link {
    color: var(--link-color);
    position: relative;
}

.hui-base-link:hover {
    color: var(--hover);
    transform: translateY(-2px);
}

.hui-primary-link{
    composes:hui-base-link;
    background-color: var(--background-primary)
}

.hui-secondary-link{
    composes:hui-base-link;
    background-color: var(--background-secondary)

}

.hui-tertiary-link{
    composes:hui-base-link;
    background-color: var(--background-tertiary)

}

.hui-outline-link{
    composes:hui-base-link;
    background-color: var(--base-background)
}