:root {
    background-color: aqua;
    --highlight: #b0e0e6;
    --base-background: white;
    --base-foreground: black;
    --hover: #007bff;
    --background-primary: #0C56BC;
    --foreground-primary: #A4C3D2;

    --background-secondary: #0643A5;
    --foreground-secondary: #AECBD6;

    --background-tertiary: #00308F;
    --foreground-tertiary: #BFD4DB;

    --border-radius: 16px;
    --border-color: #d3d3d3;
    --border-thickness: 5px;

    --padding-thickness: 10px;

    --modal-max-width: 800px;
    --modal-min-width: 400px;
    --button-padding: 0.5rem 1rem;
    --accordion-padding: 0.75rem;
    --tab-height: 50px;
    --link-color: Gold;
    --link-icon-size: 4px;
}
