:root {

    --base-background: white;
    --base-foreground: black;
    --hover: #BBBBBBBB;
    --background-primary: #0C56BC;
    --foreground-primary: #A4C3D2;

    --background-secondary: #0643A5;
    --foreground-secondary: #AECBD6;

    --background-tertiary: #00308F;
    --foreground-tertiary: #BFD4DB;

    --border-color: #000019;

    --modal-max-width: 800px;
    --modal-min-width: 400px;
    --button-padding: 0.5rem 1rem;
    --accordion-padding: 0.75rem;
    --tab-height: 50px;
    --link-color: var(--foreground-primary);
    --link-icon-size: 4px;
}
